<a mat-button routerLink="/">
  <mat-icon>home</mat-icon>
  Home
</a>

<a mat-button routerLink="/chats" *ngIf="user">
  <mat-icon>chat</mat-icon>
  Chats
</a>

<a mat-button routerLink="/settings" *ngIf="user">
  <mat-icon>account_circle</mat-icon>
  {{user.name}}
</a>
<a mat-button (click)="openLogin()" *ngIf="!(authService.user | async)">
  <mat-icon class="fas fa-sign-in-alt"></mat-icon>
  Login
</a>
<a mat-button (click)="authService.logout()" *ngIf="authService.user | async">
  <mat-icon class="fas fa-sign-out-alt"></mat-icon>
  Logout
</a>
