.toolbar {
  margin-bottom: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.hover {
  cursor: pointer;
}

.title {
  font-size: 130%;
}

.example-card {
  margin-bottom: 6px;
}

.searchBar {
  margin-left: 10px;
  margin-right: 10px;
}